* {
    padding: 0px;
    margin: 0px;
    font-family: arial;
    color: #3c4c5b;
}
div#addUser, div#cards {
    display: inline-block;
    vertical-align: top;
}
div#addUser {
    width: 310px;
    margin-top: 20px;
    margin-left: 20px;
}
    #addUser label, #addUser input {
        font-size: 1.1em;
        display: inline-block;
    }
    #addUser input {
        width: 160px;
        font-size: 1.2em;
        outline: none;
        border: 1px solid silver;
        border-radius: 2px;
        padding: 3px 6px;
        margin-bottom: 10px;
        margin-left: 30px;
    }
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 100px #fff inset;
    }
    #addUser p {
        font-size: 1.1em;
        margin-top: 25px;
    }
    #addUser textarea {
        width: 285px;
        height: 100px;
        font-size: 1.1em;
        overflow: auto;
        resize: none;
        outline: none;
        border: 1px solid silver;
        border-radius: 2px;
        padding: 3px 6px;
        margin: 20px 0;
    }
    #addUser button {
        color: white;
        background-color: #009ac7;
        font-size: 1em;
        border: none;
        border-radius: 2px;
        outline: none;
        box-shadow: 1px 1px 1px gray;
        padding: 4px 8px;
        margin-right: 5px;
    }
    #addUser button:hover {
        cursor: pointer;
        background-color: #007394;
    }
div#cards {
    width: 350px;
    margin-left: 60px;
    margin-top: 30px;
}
    div.front, div.back {
        width: 300px;
        height: 120px;
        font-size: 1.2em;
        text-align: center;
        border: 1px solid #3c4c5b;
        border-radius: 4px;
        box-shadow: 1px 1px 1px #ddd;
        padding: 5px;
        margin-bottom: 15px;
    }
    div.back {
        display: none;
    }
        .front b {
            height: 70px;
            font-size: 1.6em;
            text-transform: capitalize;
            margin-top: 15px;
            display: block;
            overflow: auto;
        }
        div span {
            margin-top: 5px;
            display: block;
        }
        .back p {
            height: 75px;
            font-size: 1.2em;
            margin-top: 10px;
            overflow: auto;
            word-wrap: break-word;
        }
